    <!-- <div class="container">
  <div class="bar">

    <div class="id">
      <div class="label">
        <label for="id">ID</label>
      </div>
    <div class="col-md-8 ">
      <ul >
      <div *ngFor="let user of usuario)" (userClickedEvent)="onUserClicked($event)" [user]="user">
        <li> {{user}} </li>
        </div>
      </ul>
      </div>
      <div class="content">
        <ul class="list-group ">
          <li class="list-group-item">
            <div>
              <button class="btn btn-danger float-end" (click)="DeleteUser(usuario.Id)">Delete</button>
            </div>
          </li>
        </ul>   -->
<!--
      </div>
    </div>

        <div class="Email">
          <div class="label">
            <label for="Email">Email</label>
          </div>
          <div class="content">

          </div>
        </div>

    <div class="Password">
      <div class="label">
        <label for="Password">Password</label>
      </div>
      <div class="content">

      </div>
    </div>
  </div>
</div>
 -->
