
    <body id="page-top" >
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">MEXPAL</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">Conocenos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Recomendados!</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead scroll">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold" style="color: white !important;"> <img src="https://cdn1.iconfinder.com/data/icons/indoor-plants/512/Plant-002-128.png" alt="nopalito">!! Bienvenido a Mexpal  un nopal de otro mundo !! <img src="https://cdn3.iconfinder.com/data/icons/space-colored/512/rocket_3-128.png" alt="luna"></h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Por favor, acompañanos a conocer <a href="#page-top" class="mexi">MEXPAL</a>, te ofreceremos multiple información acerca de nuestro trabajo, y de nuestro nopal!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Conocenos!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section cons bg-primary " id="about">
                <div class="row gx-4 gx-lg-5  bgpres">
                    <div class=" text-center ">
                        <h2 class="text-white mt-0 mt-3 nec">Tenemos lo que necesitas!</h2>
                        <hr class="divider divider-light" />
                        <p class="presentacion mb-4">Somos una empresa provedora de nopal ubicada en el área de Saltillo Coahuila.
                            <br> Surtimos a diversas cedes en el país en tiendas Alsuper!
                            <br> damos servicios actualmente a:  </p>
                             <ul class="tiendas">
                                <li>Alsuper Saltillo zona... y Alsuper Saltillo zona...</li>
                                <li>Alsuper Arteaga zona...</li>
                                <li>Alsuper Zacateas zona...</li>
                            </ul>

                        <a class="btn btn-light btn-xl" href="#contact">Contactanos!</a>
                    </div>
                </div>
        </section>
        <!-- Services-->
        <section class="page-section servicios" id="services">
            <div class="container" style="height: 100hv!important;">
                <div class="serca">
                <h2 class="text-center pic ">A su servicio tenemos:</h2>
                <hr class="divider" />
                <div class="row gx-4">
                    <div class=" text-center">
                        <div class="mt-1 marcont p-3">
                            <div class="mb-2 "><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Limpieza y corte del nopal</h3>
                            <p class="pic mb-0">Desde las 6 am hasta las 6pm, con cantidad de trabajadores según sea el pedido.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5 marcont p-3">
                            <div class="mb-2 "><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-0">Venta y entrega de nopal de calidad a precios bajos</h3>
                            <p class="pic mb-0">Entregas en toda la zona norte del país.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="p-5 platillos">
                <p >Algunos platillos recomendados para consumir este rico alimento en nutrimentos y sabor!</p>
                </div>
                <div class="d-flex ">
                    <div class="p-0 flex-fill">
                        <a class="portfolio-box" href="#" title="Project Name">
                            <img class="img-fluid images" src="https://dam.cocinafacil.com.mx/wp-content/uploads/2018/05/nopales-rellenos-de-requeson.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Nopales rellenos de requesón</div>
                                <div class="project-name">Este es un platillo además de rico, vegetariano, 100% mexicano, y recomendado.</div>
                            </div>
                        </a>
                    </div>
                    <div class="p-0 flex-fill">
                        <a class="portfolio-box" href="#" title="Project Name">
                            <img class="img-fluid images" src="https://www.cocinaconalegria.com/wp-content/uploads/2021/08/ENSALADA-DE-NOPALES-01.jpg" alt="ensalñada de noaples" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Ensalada de nopales con limón y orégano</div>
                                <div class="project-name">Una ensalada muy rica, baja en grasa, y con gran cantidad de proteinas.</div>
                            </div>
                        </a>
                    </div>
                    <div class="p-0 flex-fill">
                        <a class="portfolio-box" href="#" title="Project Name">
                            <img class="img-fluid images" src="https://cheforopeza.com.mx/wp-content/uploads/2017/07/huarache-de-nopal-con-cecina-enchilada_recetas_chef-oropeza-jpg" alt="Huarache de nopal con cecina" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Huarache de nopal con cecina</div>
                                <div class="project-name">Un platillo tipico con el toque del nopal, de los platillos más ricos con nopal sin duda!.</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Contactanos!</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Deje su comentario, o mensaje, con información real, para un futuro contacto, porfavor!</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre Completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Nombre requerido.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Correo electronico</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Un correo es requerido.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Correo no valido.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Numero de celular</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Numero requerido.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensaje</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Mensaje requerido.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enviar!</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+52 (861) 123-4567</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - MEXPAL</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>


    <router-outlet></router-outlet>

